# dependencies
node_modules/

# Next.js build output
.next/

# vite cache
.vite/

# environment variables
.env
.env.local
.env.*.local

# editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
